@import '../../../forky_core/src/index.css';

.hidden {
	display: none;
}

.full-size {
	width: 100%;
	height: 100%;
}

.sweet-suite {
	font-weight: bold;
	text-decoration: none;
}

.sweet-contents {
	background-color: #333;
	width: 20em;
	min-width: 20em;
	max-width: 20em;
	padding: 1em;
}

.sweet-root {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}


iframe {
	background-color: black;
}

a {
	color: inherit;
	/* text-decoration: inherit; */
}