body {
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	margin: 0;
	background: black;
	color: white;
	background-size: 400% 400%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

canvas {
	background-color: darkblue;
}

.center-parent {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-like {
	cursor: pointer;
	padding: 0.3em;
}

.button-like:hover {
	background-color: #444;
}